html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #3498db;
  font-family: Arial;
  color:white;
  text-align:center;
  font-size: 12pt;
}

li {
    min-height: 20px;
    text-align: left;
    background-color: white;
    color: #444;
    padding: 5px;
    margin-bottom: 5px;
}

th {
    position: sticky;
    top: 0px;
    background: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#userList{
    margin-top: 0px !important;
}

.delete-overlay {
    position: absolute;
    height: 24px;
    width: 24px;
    top: 40px;
    left: 90px;
    display: none;
}

.section-title {
    background-color: #007fff;
    border: 1px solid #003eff;
}

.btn-add {
    margin-bottom: 0px;
    font-size: 18px;
}

.icon-add {
    margin-top: -4px;
    margin-right: 1px;
}

.section {
    height: 200px;
    overflow: auto;
}

.fa-plus {
    color: #007fff;
}

.ui-accordion-header{
    height:35px;
}

.form-control {
    border: 0.8px solid #707070 !important;
}

th {
    text-align: center;
}