@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 id="pageTitle" class="fw-bold" style="font-family:monospace">Welcome to the User CRUD party!</h1>
</div>

<div id="userList" class="text-center mt-5"></div>